*{
    padding: 0;
    margin: 0;

}
header{
    background-color: #181818;
    padding: 24px 0;
}
.container{
    max-width: 1200px;
    margin: auto;
}
header .container {
    padding: 0 20px 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: flex;
    list-style: none;
    align-items: center;

}
header nav ul li{
    margin-left: 32px;
}
header nav ul li:first-of-type{
    margin-right: 24px;
}
header nav ul li a{
   font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height, or 154% */
    text-decoration: none;
    color: #FFFFFF;
}
header nav li:first-of-type a{
    font-size: 13px;
}
header nav li:last-of-type a{
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 20px;
    color: black;
    font-size: 16px;
    letter-spacing: 0.4px;
}
.main_banner{
    background-image: url("../images/back_image.jpg");
    background-size: cover;
    height: calc(100vh - 84px);
    position: relative;
}
.communication_section{
    background-color: black;
}
section div h3 a{
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 20px;
    color: black;
    font-size: 16px;
    letter-spacing: 0.4px;
}
.main_section{
    text-align: center;

}
.occupation_txt{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    padding-top: 60vh;
    padding-bottom: 1px;
}
section div h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    /* identical to box height, or 110% */

    text-align: center;

    color: #FFFFFF;
}
.discription{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    text-align: center;
    color: #C0C0C0;
max-width: 580px;
    margin: auto;
    padding-top: 16px;
    padding-bottom: 71px;
}
.n_help_cont{
    max-width: 571px;
    margin: auto;
    text-align: center;
    padding-top: 113px;
    padding-bottom: 108px;
}
.secondary_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    /* identical to box height, or 105% */

    text-align: center;

    color: #FFFFFF;
}
.on_bt_txt{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;
/* identical to box height, or 125% */

text-align: center;

color: #C0C0C0;
    padding-top:15px ;
    padding-bottom: 22px;
}
.get_it_btn{
    display:inline-flex;
   align-items: center;
    background: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
justify-content: space-between;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    letter-spacing: 0.4px;
   color: #000000;
    text-decoration: none;
    border-radius: 14px;
padding-right:10px ;
   flex-wrap: unset;
}
.get_it_btn:before{
    content: "";
    display: inline;

    background-color: black;
    width: 28px;
    height: 28px;
    border-radius: 14px;
margin: 4px 3px 4px 3px;

    border: 4px white;}
 .btm_icon{
     position: absolute;

    right: 40px;
    bottom: 41px;
    display: flex;
    align-items: center;
    list-style: none;

}
.btm_icon li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 16px;
}
 .btm_icon li:before{
    content:"";
    display: inline-block;
    background-image: url("../images/icon_2.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 5px;
}
.btm_icon li:nth-child(2):before{
    background-image: url("../images/icon_4.svg");
}
.btm_icon li:nth-child(3):before{
    background-image: url("../images/icon_1.svg");
    width: 32px;
}
.btm_icon li:nth-child(4):before{
    background-image: url("../images/icon_3.svg");
width: 10px;
    height: 16px;
}
.ph_section{
     background-image: url("../images/back_image_3.png ");
    min-height: 600px;
    background-size: cover;
    display: flex;
     align-items: center;
justify-content: flex-end;
position: relative;
    padding-right: 119px;
 }
.photo_container{

max-width: 298px;

}

.photo_container h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.photo_container p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    color: #C0C0C0;
}
.ph_section:before{
    content:"";
}
.ph_section:nth-child(2){
    background-image: url("../images/back_image_2 (1).jpg");
padding-right: 62px;
}
.ph_section:nth-child(3){
    background-image: url("../images/back_image_4.png");
    padding-right: 87px;
}
 .photo_container:before{
    content:"";
}
.ph_section .photo_container:nth-child(2):before{
    padding-right: 87px;
}
.photo_container:nth-child(3):before{
    padding-right:119px ;
}